@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap");

html,
body {
  margin: 0;
}
body {
  background-color: #591985;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%238e67d0' fill-opacity='0.17'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1,
h2,
h3,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

.site-title {
  font-size: 3em;
  margin-bottom: 0.5rem;
}

.site-subtitle {
  font-size: 1.7em;
  margin-top: 0.7rem;
}

.arrows:hover {
  opacity: 0.5;
}

.clip {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  height: 100vh;
  width: 100%;
  z-index: -100;
}

.center-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-heading {
  font-size: 4rem;
  z-index: -100;
}

.portfolio-heading {
  color: #f57120;
}

.about-heading {
  color: #1cbd47;
}

.green-bg {
  background-color: #1cbd47;
}

.blue-bg {
  background-color: #0741ed;
}

.shape-orange {
  background-color: #f57120;
}
.shape-content {
  margin-top: -5px;
  margin-bottom: -1px;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.shape {
  z-index: 20;
}

.shape::before {
  content: url(../images/top.svg);
  width: 100%;
  z-index: 10;
}

.shape::after {
  content: url(../images/bottom.svg);
  width: 100%;
  z-index: 10;
}

.shape-green::before {
  content: url(../images/green-top.svg);
  width: 100%;
  z-index: 10;
}

.shape-green::after {
  content: url(../images/green-bottom.svg);
  width: 100%;
  z-index: 10;
}

.shape-blue::before {
  content: url(../images/blue-top.svg);
  width: 100%;
  z-index: 10;
}

.shape-blue::after {
  content: url(../images/blue-bottom.svg);
  width: 100%;
  z-index: 10;
}

.shape-footer::before {
  content: url(../images/footer-top.svg);
  width: 100%;
  z-index: 10;
}

.footer-bg {
  background: #8325c2;
}

/* .shape-bottom {
  clip-path: polygon(100% 0, 0 100%, 0 0);
  background: #f57120;
  height: 100px;
  width: 100%;
  bottom: -140px;
  position: absolute;
} */

/* seperate into top, bottom and responsive */

.long-info {
  text-align: left;
  font-size: 1.2em;
}

.arrow-position {
  display: flex;
  justify-content: center;
  position: relative;
  top: -65px;
}

@media (min-width: 1200px) {
  .arrow-position {
    top: -75px;
  }
}

.slide {
  display: flex !important;
  justify-content: center;
  justify-self: center !important;
}

.slide-arrows {
  position: relative;
  background: rgba(31, 31, 31, 0.5);
  padding: 5px;
}

.slide-arrows:hover {
  color: skyblue;
}

.slide-arrows-next {
  margin: 0;

  top: 190px;

  padding: 5px;
}

.slide-arrows-prev {
  margin: 0;
  top: 190px;
  padding: 5px;
}

.project-sub-title {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media > svg {
  padding: 5px;
}
