@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
  margin: 0;
}
body {
  background-color: rebeccapurple;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

.title-page {
  background: url("https://source.unsplash.com/1600x900/?nature,water");
  background-size: cover;
}

.clip {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.center-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.portfolio-heading {
  color: #f57120;
}

.portfolio-background {
  background: #f57120;
  clip-path: polygon(0 14%, 100% 0, 100% 82%, 0 100%);
}

/* seperate into top, bottom and responsive */

.content-container {
  width: 99%;
  margin-top: 100px;
}
