.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 280px;
  height: 230px;
  cursor: pointer;
  will-change: transform, opacity;
  display: flex;
}

.front,
.back {
  background-size: cover;
}

.back {
  /* background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop); */
  background-color: #431363;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  height: 200px;
  width: 250px;
  justify-content: center;
}

.title {
  background: rgba(13, 13, 13, 0.7);
  color: white;
  text-align: center;
  width: 100%;
}
